/* App.css */
.nav-bar {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Center items vertically */
  background: linear-gradient(to right, #3b0c5c, #20188f, #310469); /* Set your desired color here */
  z-index: 2;
  position: relative; /* Allow z-index to take effect */
}

.nav-bar ul {
  list-style-type: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  display: flex; /* Display links in a row */
}

.nav-bar li {
  margin-right: 0; /* Space between links */
}

.nav-bar a {
  background-color: #360F68; /* Background color (white with some transparency) */
  padding: 18px; /* Space around the text */
  color: white; /* Change link color */
  text-decoration: none; /* Remove underline */
  font-size: 25px;
  font-family: 'DejaVu Sans Mono', monospace;
}

.nav-bar a:hover {
  background-color: #27093d;
  color: white; /* Change link color */
}

.nav-image {
  max-height: 64px; /* Set a max width for the image */
  width: auto; /* Maintain aspect ratio */
  margin-right: 0;
}